body {
  margin: 0;
  padding: 0;
  background: #eb19dc45;
}

.eyes {
  postion: absolute;
  top: 50%;
  transform: translateY(30%);
  width: 100%;
  text-align: center;
}


.eye {
  width: 240px;
  height: 120px;
  background: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}


div.ball {
  width: 80px;
  height: 80px;
  background: lightslategrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*The border-radius property defines the radius of the
  element's corners.*/

  /*Tip: This property allows you to add rounded corners to elements!*/
  /*have four elements */
  border-radius: 50%;
}
